.container_css {
    background-image:url("../images/crab-g19a03fa23_1920.jpg");
    text-align: center;
    color: aliceblue;
    padding-bottom: 10em;

    width: 80%;

    margin-bottom: 1em;
    
    margin-left: auto;
    margin-right: auto;
    }

.subject_css {
    border: 2px solid white;
    padding: 0.5em;

    font-size: 1.25em;

    margin-left: auto;
    margin-right: auto;
    width: 5em;

    margin-top: 0;
}

.nameArticle_css {
    font-size: 1.5em;

    color: aliceblue;
}

.separatorLine_css {
    margin-left: 5em;
    margin-bottom: 2em;
}